<h3>Other Links</h3>
<div class="links">
    <div class="link-column">
        <ul>
            <li><a href="/htmlDemo">HTML Demo</a></li>
            <li><a href="/htmlDemo/audio">Audio Demo</a></li>
            <li><a href="/htmlDemo/table">Table Demo</a></li>
        </ul>
    </div>
    <div class="link-column">
        <ul>
            <li><a href="/htmlDemo/list">List Demo</a></li>
            <li><a href="/htmlDemo/video">Video Demo</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</div>