<h3>Other Links</h3>
<div class="links">
    <div class="link-column">
        <ul>
            <li><a href="/storefront">Store Front</a></li>
            <li><a href="/audio">Audio Demo</a></li>
            <li><a href="/table">Table Demo</a></li>
        </ul>
    </div>
    <div class="link-column">
        <ul>
            <li><a href="/list">List Demo</a></li>
            <li><a href="/video">Video Demo</a></li>
            <li><a href="/employees">Employees</a></li>
        </ul>
    </div>
</div>