<!-- Start your code here -->
<section>
    <h1>About</h1>
    <p class="text-center">Below are the technologies that were used in this
        website's development!</p>
</section>

{{! Gallery of Frameworks and languages }}
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col card-col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="Express.js">
            <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <img class="mx-auto my-4" src="https://www.vectorlogo.zone/logos/handlebarsjs/handlebarsjs-ar21.svg" alt="Handlebars.js">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="PostgresDB">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img class="mx-auto my-4" src="https://www.vectorlogo.zone/logos/sequelizejs/sequelizejs-ar21.svg" alt="Sequelize">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="Image">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="Sequelize">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="Image">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam ipsam eligendi nihil recusandae, iure enim odit alias laboriosam perspiciatis ad reiciendis eius esse vel, consequatur dolore officiis quasi amet.\</p>
        </div>
    </div>
</div>
<!-- End your code here  -->