<!-- Start your code here -->
<section>
    <h1>About</h1>
    <p class="text-center">Below are the technologies that were used in this website's development!</p>
</section>

{{! Gallery of Frameworks and languages }}
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js">
            <p class="card-content"><a target="_blank" href="https://web322.ca/notes/week01#nodejs">Node.js</a> is an open-source, cross-platform JavaScript runtime environment built on Chrome's V8 JavaScript engine. It is typically used for developing server-side and networking applications and has recently exploded as the go-to application framework for many real-time web applications.</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="Express.js">
            <p class="card-content"><a target="_blank" href="http://expressjs.com/en/4x/api.html">Express</a> is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications. It is extremely popular in the node.js community with tens of thousands of developers using it to build websites.</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <img class="mx-auto my-4" src="https://www.vectorlogo.zone/logos/handlebarsjs/handlebarsjs-ar21.svg" alt="Handlebars.js">
            <p class="card-content"><a target="_blank" href="http://handlebarsjs.com/">Handlebars</a> is a template engine for express framework. <a target="_blank" href="https://expressjs.com/en/guide/using-template-engines.html">A template engine</a> enables you to use static template files in your application. At runtime, the template engine replaces variables in a template file with actual values, and transforms the template into an HTML file sent to the client. This approach makes it easier to design an HTML page.</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="PostgresDB">
            <p class="card-content"><a target="_blank" href="https://www.postgresql.org/">PostgreSQL</a> (also known as “Postgres”) is a powerful, open source object-relational database system. It has more than 15 years of active development and a proven architecture that has earned it a strong reputation for reliability, data integrity, and correctness.It is fully ACID compliant, has full support for foreign keys, joins, views, triggers, and stored procedures (in multiple languages).</p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img class="mx-auto my-4" src="https://www.vectorlogo.zone/logos/sequelizejs/sequelizejs-ar21.svg" alt="Sequelize">
            <p class="card-content"><a target="_blank" href="https://en.wikipedia.org/wiki/Object-relational_mapping">Sequelize</a> is technically an Object-Relational Mapping (“ORM”) framework. It maps our JavaScript objects (“models”) to tables and rows within our database and will automatically execute relevant SQL commands on the database whenever data using our “models” (JavaScript objects) is updated. </p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="Image">
            <p class="card-content"><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML5</a> is a markup language used for structuring and presenting content on the World Wide Web. Many people, especially beginners, confuse it with a programming language, however, it is just use to define the structure and content of the webpage using its various markup elements. Currently, it is the most popular and supported web markup language. </p>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="Sequelize">
            <p class="card-content"><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">Cascading Style Sheets (CSS)</a> is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.</p>
        </div>
        <div class="col">
            <img class="mx-auto my-4" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="Image">
            <p class="card-content"><a target="_blank" href="https://jsdoc.app/">JavaScript</a> is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles.</p>
        </div>
    </div>
</div>
<!-- End your code here  -->