<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error by Amnish</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <img src="https://giphy.com/embed/B7uD3Rp4f469Z9R9sC" alt="No GIF"> 
    <div class="container">
        <h1><a href="/">Error 404 :(<br>Requested site or resource doesn't exist. <br><span class="savage"> Or maybe I don't want to show you! <br> Click to go back home! <br><span class="super-savage">:-</span></span></a></h1>
    </div>
</body>
</html>
