<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
        <section>
            <h1>Home</h1>
            <p class="text-center">
                Welcome to my website. This is an example of a simple REST API where you can perform all forms of CRUD operations on Student and Courses data stored on the free server used for this application.
            </p>
        </section>
        <section>
            <h2>Learning Express So Far!</h2>
            <img
                class="floating-image"
                src="/Images/express.png"
                alt="Express Picture"
            />
            <p>
                <span class="first-letter">T</span>his semester, I am taking WEB322
                course at my college which covers fundamanetal backend Web technologies
                including Node.js, Express.js, MongoDB, PostgreSQL and many more. So
                far, I have gotten the oppurtunity to go over Node.js and Express.js,
                and to be honest, my experience has been like a rollercoaster ride with
                a steep learning curve. Initially, I had huge troubel in understanding
                the concepts of Express - how routing works, what is middleware, why is
                middleware and so on. But, I didn't give up and kept researching on the
                internet for my doubts and never stopped reading the notes. Gradually,
                it all started making sense and now I feel comfortable with building
                routes for websites and the notion of promises, middleware and route
                handling.
            </p>
            <p>
                Adding to that knowledge, we also learnt several other technologies complementing
                Express framework later in the semester like View Engines &lpar;<em>Handlebars</em>&rpar;, 
                implementing persistent storage for the web application by connecting with a live database.
                For relational databases, we learnt communicating to a Postgres database &par;what this application uses&rpar;
                with sequelize module and for NOsql we learnt MongoDB. Other than that, we also learnt about browser &lpar;cookies
                are stored on server as well&rpar; storages like Cookies and Sessions along with basic encryption in HTTPS.
            </p>
        </section>
        
        <section>
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Additional Info</h4>
                <hr>
                {{!-- Deprecated tag but fine for the moment --}}
                <marquee direction="right" behaviour="smooth" class="mb-0">For complete description of technologies used in this website, visit the <a href="/about">about</a> section</marquee>
            </div>
        </section>

		<!-- End your code here  -->



	</main>
</div>