@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

:root {
    --background-gradient: linear-gradient(90deg, lightgrey, white, lightgrey);
    --backgorund-color: white;
    --font1: 'Roboto Condensed', sans-serif;
    --font2: 'Arima', 'Times New Roman', Times, serif, cursive;
    --font3: 'Alegreya Sans', sans-serif;
    --font-headings: 'Bree Serif', serif;
    --font-headings-2: 'Cabin', sans-serif;
    --selection-color: rgb(200, 200, 200);
}

*, *::after, *::before {
    box-sizing: border-box;
}

::selection {
    background-color: var(--selection-color);
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 1000;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

header p {
    text-align: center;
}

section {
    border-bottom: 1px solid lightgrey;
}

/* Navbar */
nav.navbar {
    background-color: rgba(30, 30, 30);
}

a.navbar-brand {
    color: gold;
    transition: 200ms ease-in-out;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
    color: white;
    transform: rotate(-5deg) scale(1.025);
    transition: 100ms ease-in-out;
}

a.nav-link {
    position: relative;
    font-family: 'Cormorant', serif;
    font-size: 1.5em;;
    color: white;
}

.navbar-nav a {
    outline-style: none;
}

.navbar-toggler-icon {
    color: white;
}

a.nav-link:hover,
a.nav-link:focus {
    color: black;
    border-radius: 10%;
    z-index: 1;
}

a.nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
    border-radius: 10%;
}

a.nav-link:hover::before,
a.nav-link:focus::before {
    transform: scaleX(1);
}

/* Main Body */
body {
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: var(--font2);
    font-size: 20px;
    margin: auto;
    background-color: var(--background-color);
    min-height: 100vh;
}

.centered-text {
    text-align: center;
}

.wrapper {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 85%;
}

.floating-image {
    float: left;
    width: 25%;
    margin: 0 1em;
}

.first-letter {
    font-weight: 1000;
    font-size: x-large;
}

/* Footer Styling */
footer {
    background-color: black;
    color: white;
    border-top: 2px dashed white;
    padding-bottom: 2em;
    padding-top: 1em;
}

footer h3 {
    text-shadow: 2px 2px 4px rgba(255,255,255,0.75);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    display: block;
    color: white;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

footer .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .link-column {
    margin: 0 1.5em;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: gold;
    text-shadow: -2px 2px 4px rgba(255,255,255, 0.75);
    transform: translateY(-4px) scale(1.05);
    outline-style: none;
}

/* Navigation Controls */

.page-navigator {
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.nav-control-button {
    display: block;
    background-color: black;
    color: white;
    padding-left: 0.25em;
    transition: 200ms ease-in-out;
}

.top-button {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.bottom-button {
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding-bottom: 0.3em;
}

.nav-control-button:hover {
    color: gold;
}

.nav-control-button:active {
    border: 1px solid white;
}

/* Bootstrap Class Customization */

.btn {
    transition: 100ms ease-in-out;
}

.btn[class *= "btn-dark"]:hover,
.btn[class *= "btn-dark"]:focus {
    color: gold;
    transform: translateY(-2px);
    box-shadow: -4px 2px 4px rgba(100, 100, 100, 0.5);
}

.btn:active {
    box-shadow: none;
    transform: translateY(2px);
}

.vertical-center {
    vertical-align: middle;
}


/* Multimedia CSS */
.multimedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 00.25em;
}

figure {
    display: flex;
    flex-direction: column;
}

figure * {
    margin: 0.25em;
}

figcaption {
    text-align: center;
}

audio, video {
    margin: auto;
    width: 50%;
    max-width: 1000px;
}

audio {
    border-radius: 1em;
}

.col img {
    display: block;
    height: 150px;
    width: 80%;
}

.card-content {
    height: 200px;
    overflow-y: auto;
}

/* For about page */
.expand {
    min-width: 300px;
}
